<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Tambah Catalog</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <object th:insert="~{fragments/common :: css}" th:remove="tag"></object>
    <object th:insert="~{fragments/common :: js}" th:remove="tag"></object>
</head>

<body>
<div class="container-xxl position-relative bg-white d-flex p-0">
    <div
            id="spinner"
            class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center"
    >
        <div
                class="spinner-border text-primary"
                style="width: 3rem; height: 3rem"
                role="status"
        >
            <span class="sr-only">Loading...</span>
        </div>
    </div>

    <nav th:replace="~{fragments/sidebar :: sidebar('statistik')}"></nav>

    <div class="content">
        <nav th:replace="~{fragments/navbar :: navbar}"></nav>

        <div class="container py-lg-5">
            <div class="card mx-lg-5">
                <h2 class="card-header text-center p-3">Ubah Program sosial</h2>
                <div class="card-body">
                    <div class="justify-content-center">
                        <form
                                th:action="@{/catalog/edit-program}"
                                th:object="${program}"
                                method="POST"
                                class="mx-4"
                        >
                            <input type="hidden" name="id" th:value="*{id}" />

                            Nama Kegiatan Sosial : <br />
                            <input
                                    class="form-control"
                                    type="text"
                                    name="nama"
                                    th:value="*{nama}"
                            />
                            <br /><br />

                            Tanggal mulai program sosial:
                            <input
                                    required
                                    type="date"
                                    class="form-control"
                                    name="tanggalMulai"
                                    th:value="*{tanggalMulai}"
                                    readonly
                            />
                            <br /><br />
                            Deskripsi Kegiatan Sosial : <br />
                            <input
                                    class="form-control"
                                    type="text"
                                    name="deskripsi"
                                    th:value="*{deskripsi}"
                            />
                            <br /><br />

                            Status Kegiatan Sosial : <br />
                            <p th:if="${status == 'NOT_STARTED'}">
                                <select class="form-select" name="status">
                                    <option value="NOT_STARTED">Belum dimulai</option>
                                    <option value="IN_PROGRESS">Sedang dikerjakan</option>
                                    <option value="COMPLETED">Selesai</option>
                                </select>
                                <br /><br />
                            </p>
                            <p th:if="${status == 'IN_PROGRESS'}">
                                <select class="form-select" name="status">
                                    <option value="IN_PROGRESS">Sedang dikerjakan</option>
                                    <option value="NOT_STARTED">Belum dimulai</option>
                                    <option value="COMPLETED">Selesai</option>
                                </select>
                                <br /><br />
                            </p>
                            <p th:if="${status == 'COMPLETED'}">
                                <select class="form-select" name="status">
                                    <option value="COMPLETED">Selesai</option>
                                    <option value="IN_PROGRESS">Sedang dikerjakan</option>
                                    <option value="NOT_STARTED">Belum dimulai</option>
                                </select>
                                <br /><br />
                            </p>
                            <div class="text-center">
                                <a th:href="@{/catalog/detail-program/} + ${program.id}" class="mx-2 btn btn-danger">Batal</a>
                                <button class="mx-2 btn btn-primary">Simpan</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
